<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Хорошие вопросы времено</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'application' %>
  <%= javascript_include_tag 'application' %>
</head>

<body>
  
  <div class="header">
  	<div class="container">
  	  <div class="header-logo">
  	    <h1 class="header-title"><%= link_to "хорошие вопросы", root_path %></h1>
  	  </div>
  	</div>
  </div>

  <div class="content">
  	<div class="container">
  	  <%= yield %>
  	</div>
  </div>

</body>
</html>
